# Node modules
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Coverage
coverage/

# Database (if local)
*.sqlite
*.db

# Uploads (if you store files locally)
uploads/

# Misc
*.local